extends layout

block content
  h1= title
  p Welcome to the Gucci  pug
   div(class="container-fluid")
        div(class="row")
            -
                let gucci = [
                    {
                        "Itemname": "GG Marmont super mini bag",
                        "Quantity": 14,
                        "price": 1100
                    },
                    {
                        "Itemname": "GG Black backpack",
                        "Quantity": 19,
                        "price": 2100
                    },
                    {
                        "Itemname": "Gucci 100 cotton T-shirt",
                        "Quantity": 20,
                        "price": 650
                    },                   
                ]
            each v,index in gucci       
                    div(class="col-sm-2" onclick=`buy(${index})`) #{v.Itemname}
                    br
                    br
                    div(class="col-sm-2" onclick=`buy(${index})`) #{v.Quantity}
                    br
                    br
                    div(class="col-sm-2" onclick=`buy(${index})`) #{v.price}
  script.                
        function buy(intemNo)
        {
              alert(`you purchased Item ${intemNo + 1}`)
        }